@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rosa-cifelu-bg {
  background-color: #FFBCD4;
}

/* Ajustar el tamaño del navbar */

.navbar {
  padding: 0.25rem 0.5rem;
}

.nav-item.dropdown a ul li {
  font-size: 10px;
}

.navbar-nav .dropdown-menu.rosa-cifelu-bg {
  background-color: #FFBCD4;
  font-size: 0.65rem;
  padding: 0.25rem;
}

.navbar-nav .dropdown-item.otro-rosa-cifelu-hover {
  font-size: 0.65rem;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
}

.navbar-nav .dropdown-item.otro-rosa-cifelu-hover:hover {
  background-color: #973C73;
}

/* Estilos de main */
main {
  background-color: #973C73;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.conjunto-azul {
  width: 1000%;
  max-width: 2000px;
  height: auto;
}
  /* Estilos para las fotos de conjuntos */
main h1 {
  color: #FAD8CE;
  text-align: center;
  padding: 0rem;
  font-family: "Lexend", sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 0rem;
}
main h1 .nombre-cifelu {
  color: #CBA77E;
  font-size: 70px;
}
main .contenedor {
  background-color: #973C73;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 80%;
  margin-top: 0;
}
main .contenedor img {
  display: block;
  margin: 20px;
  width: 100%;
  max-height: 900px;
  object-fit: cover;
}
main .contenedor .img {
  flex: 1;
}

main .contenedor .img img {
  width: 100%;
  max-width: 600px;
}
main .textos {
  flex: 1;
  text-align: left;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
main .textos .texto-primero {
  font-size: 40px;
  margin-bottom: 20px;
  color: #FAD8CE;
  text-align: center;
  font-family: "Lexend", sans-serif;
  font-weight: bold;
}
main .textos .texto-primero .texto-ahora {
  color: #CBA77E;
}
main .textos .texto-segundo {
  color: #FAD8CE;
  text-align: left;
  font-family: "Lexend", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
main .textos .texto-tercero {
  color: #FAD8CE;
  text-align: left;
  font-family: "Lexend", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #CBA77E;
  margin-bottom: 20px;
}
main .textos a .compra-ahora-principal {
  background-color: #CBA77E;
  color: black;
  border: black;
  padding: 20px 45px;
  border-radius: 50px;
  font-size: 20px;
  font-family: "Lexend", sans-serif;
  cursor: pointer;
  margin: 10px 0;
  text-align: center;
  animation: brillo 1.5s infinite; /* Animación infinita */
}

@keyframes brillo {
  0%, 100% {
    box-shadow: 0 0 10px #d01284;
  }
  50% {
    box-shadow: 0 0 20px #d01284, 0 0 30px #FFBCD4, 0 0 40px #d01284;
  }
}


main .textos a .compra-ahora-principal:hover {
  background-color: #d01284;
  color: #FFBCD4;
}
main .textos a .compra-ahora-principal:active {
  background-color: #FFBCD4;
}
main .todos-conjuntos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
main .todos-conjuntos img {
  width: 200px;
  height: auto;
}

/* Estilos específicos para carrito */
main.carrito-carrito {
  padding: 40px;
  padding-bottom: 20px;
  background-color: #973C73;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
main.carrito-carrito .card-carrito {
  display: flex;
  width: 100%;
  max-width: 800px;
  background-color: #973C73;
  border: 2px solid #CBA77E;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}
main.carrito-carrito .card-carrito .fila-carrito {
  display: flex;
  flex-direction: row;
  width: 100%;
}
main.carrito-carrito .card-carrito .fila-carrito .carrito-imagen {
  flex: 1;
}
main.carrito-carrito .card-carrito .fila-carrito .carrito-imagen img {
  width: 250px;
  height: auto;
  object-fit: cover;
  border: none;
}
main.carrito-carrito .card-carrito .fila-carrito .card-body-carrito {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
main.carrito-carrito .card-carrito .fila-carrito .card-body-carrito .card-titulo {
  color: whitesmoke;
  font-size: 2rem;
  margin-bottom: 5px;
}
main.carrito-carrito .card-carrito .fila-carrito .card-body-carrito .card-texto {
  color: whitesmoke;
  font-size: 1rem;
  margin-bottom: 5px;
}
main.carrito-carrito .card-carrito .fila-carrito .card-body-carrito .eliminar-producto {
  background-color: #d01284;
  width: 100px;
  color: #FFBCD4;
  border: none;
  padding: 10px 15px;
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
  font-family: "Lexend", sans-serif;
  cursor: progress;
  margin-top: 10px;
}
main.carrito-carrito .card-carrito .fila-carrito .card-body-carrito .eliminar-producto:hover {
  background-color: #FFBCD4;
  color: #d01284;
}

.pagar {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: flex-end;
}
.pagar .pagar-ahora {
  background-color: #CBA77E;
  color: black;
  border: none;
  padding: 10px 15px;
  text-align: center;
  border-radius: 50px;
  font-size: 18px;
  font-family: "Lexend", sans-serif;
  cursor: pointer;
  margin: 10px 0;
}
.pagar .pagar-ahora:hover {
  background-color: #d01284;
  color: #FFBCD4;
}
.pagar .pagar-ahora .pagar-ahora:active {
  background-color: #FFBCD4;
  color: #CBA77E;
}

/* Estilos específicos para todos-los-productos*/
main.todos-articulos {
  padding: 20px;
  background-color: #973C73;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
main.todos-articulos .texto-bloque {
  text-align: center;
  color: #CBA77E;
  margin-bottom: 20px;
}
main.todos-articulos .texto-bloque h3{
  color: #FFBCD4;
  font-size: 2rem;
  margin-bottom: 10px;
}
main.todos-articulos .texto-bloque p {
  font-size: 1.5 rem;
}
main.todos-articulos .busqueda-bloque {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
main.todos-articulos .busqueda-bloque .busqueda {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #CBA77E;
  border-radius: 5px;
}
main.todos-articulos .grid-producto {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}
main.todos-articulos .grid-producto .grid-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
main.todos-articulos .grid-producto .grid-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
main.todos-articulos .grid-producto .grid-item p {
  margin-top: 5px;
  color: #CBA77E;
  font-size: 2rem;
  text-align: center;
}

/* Estilos específicos para compra-ahora */
main.compra-ahora {
  background-color: #973C73;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
main.compra-ahora .card-compra-ahora {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 55%;
  max-width: 550px;
  background-color: #973C73;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  margin: 0 auto;
}
main.compra-ahora .card-compra-ahora .card-imagen-ahora {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}
main.compra-ahora .card-compra-ahora .card-imagen-ahora img {
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  display: flex;
}
main.compra-ahora .card-compra-ahora .card-body-ahora {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background-color: #973C73;
}
main.compra-ahora .card-compra-ahora .card-body-ahora .card-titulo-ahora {
  color: #CBA77E;
  font-size: 2rem;
  text-align: center;
  background-color: #973C73;
}
main.compra-ahora .card-compra-ahora .card-body-ahora .card-talle-ahora,
main.compra-ahora .card-compra-ahora .card-body-ahora .card-colores-ahora {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FAD8CE;
  font-size: 1rem;
  gap: 10px;
}
main.compra-ahora .card-compra-ahora .card-body-ahora .card-talle-ahora .talle-seleccion,
main.compra-ahora .card-compra-ahora .card-body-ahora .card-talle-ahora .colores-seleccion,
main.compra-ahora .card-compra-ahora .card-body-ahora .card-colores-ahora .talle-seleccion,
main.compra-ahora .card-compra-ahora .card-body-ahora .card-colores-ahora .colores-seleccion {
  background-color: #FFBCD4;
  color: #973C73;
  border: none;
  padding: 5px;
  font-size: 1rem;
}
main.compra-ahora .card-compra-ahora .card-body-ahora .card-talle-ahora .colores-seleccion option,
main.compra-ahora .card-compra-ahora .card-body-ahora .card-colores-ahora .colores-seleccion option {
  background-color: #FFBCD4;
  color: #973C73;
}
main.compra-ahora .card-compra-ahora .card-body-ahora .card-info-ahora {
  text-align: center;
}
main.compra-ahora .card-compra-ahora .card-body-ahora .card-info-ahora .card-texto-ahora {
  color: #FAD8CE;
  font-size: 1rem;
}
main.compra-ahora .card-compra-ahora .card-body-ahora .card-info-ahora .card-valoraciones-ahora {
  color: #FAD8CE;
  font-size: 1rem;
  margin-top: 10px;
}
main.compra-ahora .card-compra-ahora .card-body-ahora .card-info-ahora .estrellas-valoracion {
  color: #FFD700;
  font-size: 1rem;
}
main.compra-ahora .card-compra-ahora .card-body-ahora .productos-colores {
  display: flex;
  justify-content: center;
  gap: 10px;
}
main.compra-ahora .card-compra-ahora .card-body-ahora .productos-colores img {
  width: 13%;
  height: auto;
  border-radius: 5px;
  display: block;
}
main.compra-ahora .card-compra-ahora .agregar-carrito {
  background-color: #CBA77E;
  color: black;
  border: none;
  padding: 20px 25px;
  text-align: center;
  border-radius: 50px;
  font-size: 18px;
  font-family: "Lexend", sans-serif;
  cursor: pointer;
  margin: 10px 0;
  text-decoration: none;
}
main.compra-ahora .card-compra-ahora .agregar-carrito:hover {
  background-color: #d01284;
  color: #FFBCD4;
}
main.compra-ahora .card-compra-ahora .agregar-carrito:active {
  background-color: #FFBCD4;
}

/* Estilos específicos para contacto*/
main.contacto {
  background-color: #973C73;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 20px;
  width: 100%;
}
main.contacto .titulo-contacto {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: "Lexend", sans-serif;
}
main.contacto .contacto-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 80%;
  max-width: 600px;
  background-color: #FFBCD4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  /* Estilos para el botón de enviar del formulario de contacto */
}
main.contacto .contacto-form .form-grupo {
  display: flex;
  flex-direction: column;
}
main.contacto .contacto-form .form-grupo label {
  font-size: 1.5 rem;
  margin-bottom: 5px;
}
main.contacto .contacto-form .form-grupo input, main.contacto .contacto-form .form-grupo textarea {
  padding: 10px;
  border: 2px solid #973C73;
  border-radius: 5px;
  font-size: 1rem;
}
main.contacto .contacto-form .boton-enviar {
  background-color: #CBA77E;
  color: black;
  border: none;
  padding: 20px 25px;
  text-align: center;
  border-radius: 50px;
  font-size: 18px;
  font-family: "Lexend", sans-serif;
  cursor: pointer;
  margin: 10px 0;
  display: inline-block;
  width: auto;
}
main.contacto .contacto-form .boton-enviar:hover {
  background-color: #d01284;
  color: #FFBCD4;
}
main.contacto .contacto-form .boton-enviar:hover:active {
  background-color: #FFBCD4;
}

/* Estilos del footer */
footer {
  background-color: #FFBCD4;
  color: black;
  text-align: center;
  padding: 2rem;
  font-size: 1rem;
  font-family: "Lexend", sans-serif;
}

/* Media queries para dispositivos móviles */
/* Para index */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 20px!important;
    margin-top: 1rem!important;
  }
  .nombre-cifelu {
    font-size: 40px!important;
  }
  main .contenedor {
     flex-direction: column; align-items: center; 
    }
  .texto-primero {
    display: block!important;
    font-size: 1rem!important;
    padding: 10px!important;
    margin-bottom: 1px!important;
    flex-direction: column!important;
  }
  .texto-segundo, .texto-tercero {
    display: none!important;
  }
  .todos-conjuntos {
    display: none!important;
  }
  main .contenedor .img { 
    width: 100%;
    max-width: 100%; 
  } 
  main .contenedor .img img { 
    width: 100% !important; 
    height: auto !important; max-width: 100% !important; object-fit: cover;
  }
}
.navbar-nav .nav-item .nav-link {
  font-size: 1rem!important;
  margin-right: 5px!important;
}

nav .container-fluid img {
  width: 100px!important;
  margin-right: 5px!important;
  flex-direction: column!important;
}

main {
  padding: 10px!important;
}

/* Para carrito */
.card-titulo {
  font-size: 15px!important;
}

.card-texto {
  font-size: 10px!important;
}

.card-info-ahora {
  font-size: 8px!important;
}

.pagar {
  font-size: 8px!important;
}

/* Para compra-ahora */
.productos-colores img {
  display: none!important;
}

/* Para todos-los-productos*/
.grid-item p {
  font-size: 10px!important;
}

/* Media queries para tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Para index*/
  .t1odos-conjuntos {
    display: none!important;
  }
  .img img {
    width: 100%!important;
    max-width: 600px!important;
  }
  /* Para compra-ahora */
  .productos-colores img {
    display: block!important;
    width: 10%!important;
    max-width: 300px!important;
  }
}
/* Estilos adicionales para escritorio */
@media screen and (min-width: 1024px) {
  .productos-colores img {
    display: block!important;
  }
  /* Para todos-los-productos*/
  .grid-item p {
    font-size: 30px!important;
  }
}

/*# sourceMappingURL=main.css.map */
