// archivo secundario de sass para variables, es una palabra , valor y que nos permite contener un valor, como colores, medidas y demas, pero un solo valor
// import de archivos secundarios

$rosa-cifelu: #FFBCD4; 
$rosa-cifelu-dos: #973C73;
$color-claro:#FAD8CE;
$color-dorado: #CBA77E;
$color-rosa-fuerte: #d01284;
$negro: black;
$box: 0 0 10px rgba(0, 0, 0, 0.2);
$white-s: whitesmoke;
$estrellas: #FFD700;

$pad-0-25-0-5: 0.25rem 0.5rem;
$pad-0-25: 0.25rem;
$pad-2: 2rem;
$pad-20-25: 20px 25px;
$pad-5: 5px;
$pad-10: 10px;
$pad-10-15: 10px 15px;
$pad-20: 20px;
$pad-40: 40px;
$pad-50-20: 50px 20px;

$margin-0-25: 0.25rem 0;
$margin-0: 0 auto;
$margin-10: 10px 0;
$margin-20: 20px;

$mar-bot-5: 5px;
$mar-bot-10: 10px;
$mar-bot-20: 20px;



$text-align: center;

$font-1-rem: 1rem;
$font-1-5-rem: 1.5rem;
$font-2-rem: 2rem;
$font-8: 8px;
$font-10: 10px;
$font-15: 15px;
$font-18: 18px;
$font-20: 20px;
$font-25: 25px;
$font-30: 30px;
$font-40: 40px;
$font-50: 50px;
$font-80: 80px;
$font-cero-65: 0.65rem;


$justify-space: space-between;

$gap-20: 20px;

$width-uno: 100%;
$width-dos: 100%;
$width-tres: 100%;

$max-width: 900px;

$display-uno: block;

